@import '/src/styles/vars';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    padding: $gutter * 2;
    height: 5em;
    background-color: rgb(162, 162, 224);

    h1 {
        font-size: 1.8em;
    }

    ul {
        font-size: 1.3em;
        display: flex;
    }

    li {
        margin-left: $gutter;

        &:hover {
            text-decoration: underline;
        }

        .active {
            font-style: italic;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}